// @Author: francesco
// @Date:   2021-04-09T21:37:36+02:00
// @Last modified by:   francesco
// @Last modified time: 2021-04-10T17:55:16+02:00

.glide__bullets {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: 0;

  height: 50px;
  width: 100vw;
  overflow-x: auto;

  background-color: white;

  z-index: 10000;

  .glide__bullet {
    display: inline-flex;
    margin: auto 0;

    font-family: halyard-display, sans-serif;
    font: normal normal 200 20px/20px halyard-display;
    white-space: nowrap;

    color: #676767;

    background-color: transparent;
    border: none;

    &.glide__bullet--active {
      color: #080808;
    }
  }
}

.glide__track {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 9000;

  height: 100%;
  width: 100vw;

  .glide__slides {
    height: 100%;

    .glide__slide {
      padding-top: 50px;
    }
  }
}
